.chat-main
 .main-hedar
  .main-hedar__left-box
   %h2.main-hedar__left-box__current-group
    test
   %ul.main-hedar__left-box__member-list
    Member： 
    %li.main-hedar__left-box__member-list__member
    masa
  %a(href='#')
   .main-hedar__edit-btn
    Edit
 .messages
  .message
   .message__upper-info
    %p.message__upper-info__talker
     masa
    %p.message__upper-info__date
     2020年2月27日
   %p.message__text
    おはよう
 .form
  %form.new_message
   .input-box
    %input{type: "text", class: "input-box__text", placeholder: "type a message"}
    %label{class: "input-box__image"}
     = icon('fas', 'image')
     %input{type: "file", class: "input-box__image__file"}
   %input{type: "submit", class: "submit-btn", value: "Send"}
   